body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

.topContainer {
    height:50%;
    background-color: darkgray;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lowerContainer {
    height: 50%;
    background-color: lightgray;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

